    /** HEADER **/
  #header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
  }
  
  .navbar-brand {
    padding-top: 30px;
    
  }
  
  .navbar-brand { /* Restaurant name */
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.75em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    float: left;
    
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }

.icon-bar {
    background-color: #557c3e;
    border: chartreuse;

}

button {
    background-color: cornsilk;
}

* {
    box-sizing: border-box;
  }
  body {
    background-color: #CF905A; 
  }

  .navbar-collapse {
      background-color: cornsilk;
      border:rgb(12, 13, 14);
      
  }

  li a{
      color: rgb(10, 10, 10);
      border: rgb(5, 5, 5);
  }
  h1 {

    margin-bottom: 10px;
    text-align: center;  
    font-weight: bold;
    font-family: Garamond,serif;
    color: #444C4C;
  

  }
  
  h3 {
    height: auto;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    position: relative;
    text-align: center;
    color: #444C4C;
  }
  
  p {
    width: 100%;
    height: 700px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    font-family: sans-serif;
    text-align: left;
    color: #444C4C;
  }
  
  #Egg1, #Egg2, #Egg3 {
    border: 2px solid black;
    background-color: #F2DA8A;
    width: 100%;
    height: 100%;
    padding: 10px;
    
  }
  #Itlog {
    padding: 30px;
  }
  .OuterEggs{
    padding: 20px;
  }
  
  /****Desktop View*****/
  
  @media (min-width: 992px) {
    .OuterEggs { 
    width: 33.33%;
    float: left;

     }
   }
  
  /****Tablet View****/
  
  @media (min-width: 768px) and (max-width: 991px) {
  
  
    .OuterEggs {
      float: left;
    }
    .OuterTop {
      width: 50%;
    }
    .OuterBot {
      width: 100%;
      clear: left;
      }
    }
  
  /****Mobile View****/
  
  @media(max-width: 767px) {
    .OuterEggs {
      height: 100px
      margin-bottom: auto;
    }
  }